*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background: #131313;
    padding:1rem 8rem;
    z-index: 2;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}
#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: white;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}
#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #00bf85;
} 
#navbarSupportedContent > ul > li:nth-child(n) > a:active{
    color:#00bf85;
}
#navbarSupportedContent>button{
    font-weight: 600;
    background: #00bf85;
    color: black;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}
#navbarSupportedContent>button:hover{
    background: black;
    color: white;
}
.mid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mid img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mid .hero{
position: relative;
}
.mid .hero p{
    width: 50%;
    font-size:1.1rem ;
    letter-spacing: 0.2rem;
}
.mid .hero a{
    text-decoration: none;
    font-weight: 600;
    background: #00bf85;
    color: black;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
}
.mid .hero a:hover{
    background: #fff;
}

/* ******************about section************************ */
.about{
background: #131313;
}
.about .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}
.about .text h5{
    color: #00bf85;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
}
.about .text h2{
    color: #f7f5f4;
    font-weight: 700;
    font-size: 2.7rem;
}
.about .text p{
    color: #f7f5f4;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}
.about .text a{
    text-decoration: none;
    font-weight: 600;
    background: #00bf85;
    color: black;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
}
.about .text a:hover{
    background: #fff;
}
/* ************************discover Section************************** */
.discover .text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}
.discover .text h5{
    color: #00bf85;
    font-weight: bolder;
    font-size: 1rem;
    letter-spacing: 2px;
}
.discover .text h2{
    font-weight: 700;
    font-size: 2.7rem;
}
.discover .text p{
    /* color: #f7f5f4; */
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}
.discover .text a{
    text-decoration: none;
    font-weight: 600;
    background: #00bf85;
    color: black;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
}
.discover .text a:hover{
    background: #fff;
}
/* *************************Service************************ */
.service{
    background: #131313;
}
.service .one{
    background: #f7f5f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius:20px ;
    padding:1rem 2.8rem;
}
.service h2{
    font-size: 2rem;
    padding: .5rem 0;
    letter-spacing: .1rem;
}
/* **********************************Signup************************* */

    .signup .text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: auto;
    }
    .signup .text h5{
        color: #00bf85;
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 2px;
    }
    .signup .text h2{
        /* color: #f7f5f4; */
        font-weight: 700;
        font-size: 2.7rem;
    }
    .signup .text p{
        /* color: #f7f5f4; */
        font-weight: 400;
        font-size: 1.3rem;
        letter-spacing: 0.5px;
    }
    .signup .text a{
        text-decoration: none;
        font-weight: 600;
        background: black;
        color: white;
        padding: 0.6rem 1.4rem;
        border-radius: 30px;
    }
    .signup .text a:hover{
        background:#00bf85;
        color: black;
    }
    /* ***********************footer**************************** */
    .page-footer
    {
        background: #131313;
    }
    .list-inline-item .button{
        text-decoration: none;
        font-weight: 600;
        background: #00bf85;
        color: black;
        padding: 0.6rem 1.4rem;
        border-radius: 30px;
    
    }
    .list-inline-item .button:hover{
        background:white;
        color: black;
    }
    .list-inline-item i{
        color: white;
    }

    @media (max-width:768px) {
        .nav-item{
            text-align: center!important;
            font-size: 1.5rem;
            padding: 1rem 0;
        }
        .collapse button{
            margin: 10px 200px!important;
        }
    }